.menu {
    -fx-insets-width : 0;
    -fx-padding-width :0;
    -fx-text-alignment : center;
}
.axis{
    -fx-tick-label-fill : white;
}

.list-cell:filled:hover{
    -fx-background-color: #9e9e9e;
    -fx-text-fill: black;
    -fx-background-insets : 0 2 0 4;
    -fx-background-radius : 3;
}.dark {
    -fx-background-color : -fx-color-dark;
    -fx-background-insets : 4 4 4 4;
    -fx-background-radius : 2;
    -fx-padding-width :6 0 0 0;
}